img {
    display: inline-block;
    margin: 6px;
    width: 46%;
    cursor: pointer;
}

.toolbar-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

mat-form-field {
    width: 100%;
}

